# Copyright 2020-2025 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -*-else-after-return,
  -*-macro-to-enum,
  -*-magic-numbers,
  -android-cloexec-fopen,
  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-reserved-identifier,
  -bugprone-switch-missing-default-case,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err33-c,
  -cert-err34-c,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-unix.Malloc,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -google-readability-todo,
  -hicpp-multiway-paths-covered,
  -hicpp-signed-bitwise,
  -misc-include-cleaner,
  -misc-no-recursion,
  -readability-avoid-nested-conditional-operator,
  -readability-identifier-length,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '45'
InheritParentConfig: true
